<div class="container mt-3">
<div class="row">
<h2>About</h2>
<p>The first thing I always want to see is a site that does the following:</p>
<ul>
  <li>Shows "brochure" content at the root including "about" *</li>
  <li>Shows how a user can log in</li>
  <li>Shows some kind of dashboard when the user is logged in</li>
  <li>Let's the user log out, and proves that the dashboard is no longer accessible.</li>
</ul>

<div class="alert alert-info" role="alert">
  <strong>* Note</strong> 
  I'm not saying that static brochure content "should" be provided by an 
  angular site. I'm still debating that myself. What I'm saying is that I like to see how that's done
  in any new framework.
</div>

<p>I followed these steps:</p>
<ol>
  <li>Read the angular quickstart</li>
  <li>Read the [router guide](https://angular.io/docs/ts/latest/guide/router.html) - important because it covers "guarded" routes</li>
  <li>Read 
    <a href="https://medium.com/@blacksonic86/angular-2-authentication-revisited-611bf7373bf9#.b1pldpbd1">
    medium piece on angular with authentication
    </a> with a back-end (albeit a mocked out one)</li>
  <li>Start with a new <code>ng-cli</code>-generated project</li>
  <li>Study the plunkr code again and again, re-reading above links, integrating pieces as I went</li>
</ol>

<p>At this point the basic concept works, but the "logging in" is entirely mocked up, no back-end at all.</p>

<p>TODO: integrate stormpath.</p>
</div>
</div>