<!--<div class="container">
  <div class="row">
    <p>This is the home page.</p>
    <p>You might put any content here you want.</p>
  </div>
</div>-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">This is the home page</h1>
    <p class="lead">You might put any content here you want.</p>
  </div>
</div>

<div class="container">
<div class="row">
<div class="col-xs-4">

  <p>Starting a new website from scratch can be overwhelming.
  You don't want to start with "Hello World". You need a basic
  skeleton that has some basic "batteries included", like 
  brochure content, an about page, a login page <em>that works</em>,
  and a user-specific dashboard page.</p>

</div>
<div class="col-xs-4">
  <p>A site starter package should show off basic HTTP calls - 
    see the random quote below.</p>
  <p>Every (ok, almost every) site needs to let a user log in, and
    ideally do it in a modern way. This demo uses JWTs. 
    Try <a routerLink="/login">logging in</a>.</p>
    
      
</div>
<div class="col-xs-4">
  <p>There's lots of other things you want too. 
  Want to see a "page not found"?
      <a routerLink="/foo">click here for a 404</a>.</p>

  <p>Want to find out more? Read more 
  <a routerLink="/about">about this project</a>.</p>
</div>
</div>

<div class="row">
<div class="col-xs-12">
  <random-quote>Random quote loads here (but you never see this text)</random-quote>
</div>
</div>
</div>