<!--<div class="container">
  <div class="row">
    <p>This is the home page.</p>
    <p>You might put any content here you want.</p>
  </div>
</div>-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">This is the home page</h1>
    <p class="lead">You might put any content here you want.</p>
  </div>
</div>

<div class="container">
<div class="row">
<div class="col-xs-4">
      <strong>Status:</strong>
      <ul class="list-unstyled">
        <li>&#x2713; Brochure</li>
        <li>&#x2713; About page</li>
        <li>&#x2713; Authentication with pretend client-side logic</li>
        <li>&#x2713; Dashboard home</li>
        <li>&#x2713; Dashbord profile (empty)</li>
        <li>&#x2716; Authentication uses (pretend) JWT</li>
        <li>&#x2716; Authentication gets name and info, visible in profile</li>
        <li>&#x2716; Authentication with pretend back-end</li>
        <li>&#x2716; Authentication with stormpath back-end</li>
        
        </ul>
</div>
<div class="col-xs-4">
      <p>This is just a paragraph of text. I'll avoid latin here and just blabber in English intead.</p>
      <p>Want to see a "page not found"?
        <a routerLink="/foo">click here</a>.</p>
      
</div>
<div class="col-xs-4">Want to find out more? Read more 
  <a routerLink="/about">about this project</a>.
</div>
</div>

<div class="row">
<div class="col-xs-12">
  <random-quote>Random quote loads here (but you never see this text)</random-quote>
</div>
</div>
</div>