<!--<div class="container">
  <div class="row">
    <p>This is the home page.</p>
    <p>You might put any content here you want.</p>
  </div>
</div>-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">This is the home page</h1>
    <p class="lead">You might put any content here you want.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      This is just a paragraph of text. I won't use latin, so I'll just blabber in English intead.</div>
    <div class="col-xs-4">
      This is equally non-sensical but one has to start somewhere. Want to see a "page not found"?
      <a routerLink="/foo">click here</a>.
    </div>
    <div class="col-xs-4">Want to find out more? Read more 
      <a routerLink="/about">about this project</a>.
    </div>
  </div>
</div>