<div class="container mt-3">
<div class="row">

<div class="col-xs-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 dialog mt-1">
  <h4 *ngIf="!authService.isLoggedIn" class="text-xs-center">Log in: Fake</h4>
  <p>{{message}}</p>
  <p>
    <button (click)="pretendLogin()" *ngIf="!authService.isLoggedIn" class="btn btn-outline-primary btn-block" >Login</button>
    <button (click)="logout()" *ngIf="authService.isLoggedIn" class="btn btn-outline-warning btn-block">Logout</button>
  </p>
  <p>
    <a routerLink="/" class="btn btn-outline-secondary">Home</a>
    <a routerLink="/about" class="btn btn-outline-secondary">About</a>
  </p>

</div>
</div>

<div *ngIf="!authService.isLoggedIn" class="row">
<div class="col-xs-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 dialog mt-1">
  <form (submit)="login($event, username.value, password.value)" >
  <fieldset [disabled]="running">

    <h4 class="text-xs-center">Log in: HTTP API</h4>
    <div class="form-group">
      <label for="username" class="sr-only">Email address</label>
      <input #username type="text" id="username" class="form-control" placeholder="Username or email address" required autofocus>
    </div>
    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input #password type="password" id="password" class="form-control" placeholder="Password" required>
    </div>
    <!--<div class="form-check">
      <label class="form-check-label">
        <input #remember type="checkbox" class="form-check-input" >
        Remember me
      </label>
    </div>-->
    <button [disabled]="running" class="btn btn-outline-primary btn-block" type="submit">Sign in</button>
  </fieldset>
  </form>

  <div class="mt-2">
    <a (click)="username.value='gonto'; password.value='gonto'" class="btn btn-outline-secondary">Use default "good" user</a>
  </div>
</div>
</div>

<pre>Running={{running}}
Message={{message}}</pre>

</div>
