
<div class=protected>
  <div class=inner>

    <blockquote>
      <p *ngIf="!quote" class="mb-0 text-muted">Loading...</p>
      <div *ngIf="quote" class="{{running ? 'text-muted' : '' }}" style="remheight: 3em">
        <button (click)="another()" [disabled]="running" class="btn btn-secondary btn-sm float-xs-right">Hit Me Again</button>
        <button (click)="showStructure = !showStructure" [disabled]="running" class="btn btn-secondary btn-sm float-xs-right">Toggle Breakdown</button>
        <pre *ngIf="showStructure">{{quote|json}}</pre>
        <span *ngIf="!showStructure">&ldquo;{{quote.text}}&rdquo;</span>
      </div> 
      <footer *ngIf="quote" class="blockquote-footer text-xs-right">
        <span *ngIf="quote.by">{{quote.by}}</span>
        <span *ngIf="!quote.by">Anonymous</span>
      </footer>
    </blockquote>
  </div>
</div>
<!--
<div style="margin-top:1em; color: #888; font-size: 80%">
{{quote|json}}</div>-->
