<div class="row">
<div class="col-xs-3 col-md-2 col-xl-1 left-rail" style="height: 100vh">
  
  <ul class="list-unstyled">
    <li>Lorem </li>
    <li>Consectetur </li>
    <li>Integer </li>
    <li>Facilisis </li>
    <li>Nulla 
      <ul>
        <li>Phasellus </li>
        <li>Purus </li>
        <li>Vestibulum </li>
        <li>Ac tristique </li>
      </ul>
    </li>
    <li>Faucibus </li>
    <li>Aenean </li>
    <li>Eget </li>
  </ul>

</div>
<div class="col-xs-9 col-md-10 col-xl-11">
  <h2 class="mt-1 dashboard-widget">Widgets</h2>

  <div class="row mt-2">
    <div class="col-xs-12 col-md-4 dashboard-widget">First column widget</div>
    <div class="col-xs-12 col-md-4 dashboard-widget">Second column widget</div>
    <div class="col-xs-12 col-md-4 dashboard-widget">Third column widget</div>
  </div>

  <div class="row mt-2">
    <div class="col-xs-12 col-lg-6 offset-lg-3 dashboard-widget">
      <h2>Protected Quote</h2>
      <p>The quote below is pulled from an auth-only API</p>

      <protected-quote>Protected Quote...</protected-quote>
      
    </div>
  </div>
</div>
