
<!--<div class="row mt-1">
<div class="col-xs-12">
  <h2>Widgets</h2>
</div>
</div>-->

<div class="row mt-2" style="margin: 2rem 0 0 0">
<div class="col-xs-12 col-md-4">
  <div class="dashboard-widget">
    <div class="text-xs-center" id="example-caption-4">Calculating Course&hellip; 75%</div>
    <progress class="progress" value="75" max="100" aria-describedby="example-caption-4"></progress>

  </div>
</div>
<div class="col-xs-12 col-md-8">
  <div class="dashboard-widget">
    <table class="table xtable-inverse">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Rank</th>
          <th>Shirt</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Red</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>Blue</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>Yellow</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>

<div class="row mt-2" style="margin: 2rem 0 0 0">
<div class="col-xs-12">
    <div class="dashboard-widget">
    <h2>Protected Quote</h2>
    <p>The quote below is pulled from an auth-only API</p>

    <protected-quote></protected-quote>
    </div>
  </div>
</div>
